.catalog-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.catalog-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.catalog-card{
    background: rgb(12, 20, 64);
    padding: 1.2rem 1rem;
}

.catalog-card img{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}

.catalog-title{
    color: #fff;
    padding: 1rem 0;
}

.cat-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.cat-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.cat-btns .btn {
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
    .catalog-container {
        max-width: 100%;
        margin-top: auto;

        grid-template-columns: 1fr;
    }
}